<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cash Flex</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">


  <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

<!-- Seu CSS do modo noturno (deve vir por último) -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/darkmode.css') }}">

</head>
<body>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="container mt-3">
        {% for msg in messages %}
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}

</body>
</html>
